.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-5) ;
    border-bottom: 1px solid var(--border)  ;
    background-color: var(--background);
}

.logo{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--code-foreground);
}
.nav-items{
    display: flex;
    gap: var(--space-6);
}

.nav-items a{
  font-size: 1rem;
  text-decoration: none;
  color: var(--code-foreground);
}


.theme-icon {
    background: none;
    color: var(--code-foreground);
}
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--foreground);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--foreground);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--background);
    border-bottom: 1px solid var(--border);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    transition: .2s;
  }

  .nav-items.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-items a {
    font-size: 1.1rem;
  }
}
